<f:layout name="Default" />

<f:section name="Title">New blog entry</f:section>
<f:section name="uniqueId">blogNew</f:section>

<f:section name="Content">
    <div class="space-32"> </div>
    <f:form action="create" id="blogForm" objectName="newBlogEntry" enctype="multipart/form-data" additionalAttributes="{data-abide: '',novalidate: ''}">

        <div class="row">
            <div class="medium-12 columns">
                <label for="name">Blog Post Title
                    <f:form.textfield property="name" id="name" required=""  additionalAttributes="{required: ''}" />
                    <span class="form-error">
                          Yo, Titel angeben.
                    </span>
                </label>
            </div>
            <div class="medium-12 columns">
                <label for="text">Text</label>
                <f:form.textarea property="text" id="text" />
            </div>
        </div>
        <div class="space-32"></div>

        <f:render partial="ImageEditor" arguments="{blogEntry:blogEntry}" />

        <div class="space-32"></div>
        <div class="row">
            <div class="medium-6 columns">
                <f:link.action action="index" controller="BlogEntry" class="button warning expanded">Cancel</f:link.action>
            </div>
            <div class="medium-6 columns">
                <f:form.submit value="Create" class="button success expanded" />
            </div>
        </div>

    </f:form>

</f:section>