{namespace m=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{blogEntry.name} - Black Sea Roundabout</f:section>
<f:section name="uniqueId">blogDetail</f:section>

<f:section name="Content">

    <div id="imageCover"  style="
    <f:if condition="{blogEntry.imageCover}">
        background-image: url('{m:uri.image(image:"{blogEntry.imageCover}", maximumWidth: 800, maximumHeight: 600)}')
    </f:if>
    ">
        <span>
            <f:render partial="FlashMessages"/>
        </span>

        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="row">
                    <div class="small-12 medium-2 large-3 columns">&nbsp;</div>

                    <div class="small-12 medium-8 large-6 columns bgTransparent">
                        <h4 class="text-center">
                            {blogEntry.name}
                        </h4>
                        <div class="text-center">
                            <f:format.date date="{blogEntry.datecreated}" format="d.m.Y"/>
                        </div>
                        <div class="text-center">
                            <f:format.raw>{blogEntry.text}</f:format.raw>
                        </div>
                    </div>
                    <div class="small-12 medium-2 large-3 columns">&nbsp;</div>
                </div>


                <f:if condition="{blogEntry.image1}">
                    <a data-toggle="lightboxImage" data-image="{m:uri.image(image:"{blogEntry.image1}", maximumWidth: 800, maximumHeight: 600)}">
                        <img class="thumbnail" data-interchange="[{m:uri.image(image:"{blogEntry.image1}", maximumWidth: 100, maximumHeight: 100, allowCropping: true)}, small], [{m:uri.image(image:"{blogEntry.image1}", maximumWidth: 160, maximumHeight: 160, allowCropping: true)}, medium], [{m:uri.image(image:"{blogEntry.image1}", maximumWidth: 250, maximumHeight: 250, allowCropping: true)}, large]" />
                    </a>
                </f:if>

                <f:if condition="{blogEntry.image2}">
                    <a data-toggle="lightboxImage" data-image="{m:uri.image(image:"{blogEntry.image2}", maximumWidth: 800, maximumHeight: 600)}">
                        <img class="thumbnail" data-interchange="[{m:uri.image(image:"{blogEntry.image2}", maximumWidth: 100, maximumHeight: 100, allowCropping: true)}, small], [{m:uri.image(image:"{blogEntry.image2}", maximumWidth: 160, maximumHeight: 160, allowCropping: true)}, medium], [{m:uri.image(image:"{blogEntry.image2}", maximumWidth: 250, maximumHeight: 250, allowCropping: true)}, large]" />
                    </a>
                </f:if>

                <f:if condition="{blogEntry.image3}">
                    <a data-toggle="lightboxImage" data-image="{m:uri.image(image:"{blogEntry.image3}", maximumWidth: 800, maximumHeight: 600)}">
                        <img class="thumbnail" data-interchange="[{m:uri.image(image:"{blogEntry.image3}", maximumWidth: 100, maximumHeight: 100, allowCropping: true)}, small], [{m:uri.image(image:"{blogEntry.image3}", maximumWidth: 160, maximumHeight: 160, allowCropping: true)}, medium], [{m:uri.image(image:"{blogEntry.image3}", maximumWidth: 250, maximumHeight: 250, allowCropping: true)}, large]" />
                    </a>
                </f:if>

            </div>
        </div>

    </div>

    <f:render partial="Comments" arguments="{action: 'create', submitmessage: 'Create comment!', blogEntry:blogEntry}" />


</f:section>