{namespace m=TYPO3\Media\ViewHelpers}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><f:render section="Title" /></title>
        <f:base />
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Libraries/foundation-custom/css/foundation.min.css', package: 'Jo.Blog')}" />
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Libraries/zurb-foundation-wysihtml5/src/zurb-foundation-wysihtml5.css', package: 'Jo.Blog')}" />
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Libraries/zurb-foundation-wysihtml5/lib/css/foundation-glyphicons.css', package: 'Jo.Blog')}" />
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Libraries/foundation-icons/foundation-icons.css', package: 'Jo.Blog')}" />
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/app.css', package: 'Jo.Blog')}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="Blog KnallImAll">
        <link rel="shortcut icon" href="{f:uri.resource(path: 'Images/logo.png', package: 'Jo.Blog')}">
        <link rel="apple-touch-icon" href="{f:uri.resource(path: 'Images/logo-60.png', package: 'Jo.Blog')}">
        <link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path: 'Images/logo-60.png', package: 'Jo.Blog')}">
        <link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path: 'Images/logo-114.png', package: 'Jo.Blog')}">
        <link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path: 'Images/logo-144.png', package: 'Jo.Blog')}">

    </head>
    <body class="<f:render section="uniqueId" />">
        <div class="top-bar">
            <nav class="column row">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text">
                            <a href="/">
                                <img src="{f:uri.resource(path: 'Images/logo.png', package: 'Jo.Blog')}" />
                            </a>
                        </li>
                        <li>
                            <f:link.action action="index" controller="BlogEntry">Blog</f:link.action>
                        </li>
                        <li>
                            <a href="#">Karte</a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a class="iconWidget" href="#"><img src="../../../Public/Images/fi-widget.svg" style="width: 40px; height: 40px;"></a>
                            <ul class="menu vertical">
                                <f:security.ifHasRole role="Editor">
                                    <li>
                                        <f:link.action action="new" controller="BlogEntry">Create new Post</f:link.action>
                                    </li>
                                    <li>
                                        <f:link.action action="register" controller="Login">Create User</f:link.action>
                                    </li>
                                </f:security.ifHasRole>
                                <li>
                                    <f:security.ifHasRole role="Editor">
                                        <f:then>
                                            <f:link.action action="logout" controller="Login">Logout</f:link.action>
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="index" controller="Login">Login</f:link.action>
                                        </f:else>
                                    </f:security.ifHasRole>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <div id="content">

            <f:render section="Content" />
            <f:render partial="LightboxImage"/>
        </div>

        <script type="text/javascript" src="../../../Public/Libraries/zurb-foundation-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
        <script type="text/javascript" src="../../../Public/Libraries/foundation-custom/js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="../../../Public/Libraries/foundation-custom/js/vendor/what-input.js"></script>
        <script type="text/javascript" src="../../../Public/Libraries/foundation-custom/js/vendor/foundation.min.js"></script>
        <script type="text/javascript" src="../../../Public/Libraries/zurb-foundation-wysihtml5/src/zurb-foundation-wysihtml5.js"></script>
        <script type="text/javascript" src="../../../Public/Libraries/cropit/dist/jquery.cropit.js"></script>

        <script type="text/javascript" src="../../../Public/JavaScripts/app.js"></script>

    </body>
</html>